{% extends 'netflix/layout.html' %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card w-100 border-0">
        <div class="card bg-dark text-white rounded-0">
            <img src="{{ movie.image_set.all.1.src.url }}" class="card-img" alt="{{ movie.title }}">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.production_year }}</p>
                <p class="card-text">{{ movie.overview }}</p>
                <p class="card-text">{{ movie.categories.all | join:", " }}</p>
                <p class="card-text">
                {% if movie.producer %}
                    Producer: {{ movie.producer.name }} 
                {% endif %}
                </p>
            </div>
    </div>
</div>
{% endblock %}