* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#player {
    position: relative;
    height: 100vh;
    background-color: black;
}

#video {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 100%;
}

#ctrlsTop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    color: white;
}

#ctrlsMdl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subtitlesCont {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
}

#subtitles {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

#seekbarCont {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 100%;
    background-color: black;
    width: 90%;
}

#ctrlsBtmLeft{
    position: absolute;
    left: 5%;
    bottom: 0;
    transform: translate(0, -50%);
    width: 45%;
}

#ctrlsBtmRight{
    position: absolute;
    right: 5%;
    bottom: 0;
    transform: translate(0, -50%);
    width: 45%;
    text-align: end;
}

#seekbar {
    background-color: red;
    height: 5px;
    width: 0px;
    display: inline-block;
    transform: translate(0, -200%);
}

#seekbarDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    transform: translate(-100%, -75%);
}

#ctrlBtns {
    position: relative;
    width: 100%;

}


#volumeRange {
    width: 80px;
    transform: rotate(-0deg); 
    /* will rotated -90 later */
    position: 
}



.controlBtn {
    color:white;
    height: 60px;
    background-color: transparent;
    opacity: 0.5;
    border: none;
}

.controlBtn:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

input, button {
    font-size: large;
    margin: 5px;
}

input:focus, button:focus {
    outline: none;
}

/* input[type=range]::-ms-thumb {
    background-color: red;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: black;
    border-radius: 3px;
} */

/* input[type=range]::-moz-range-track  {
    background: red;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: red;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px red;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: red; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: red; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}